body {
  background: #2C2B3D;
  margin: 0px;
  min-height: 100vh;
 
}

.page {
  margin: 0 auto;
  width: 1092px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

section p {
  font-size: 16px;
  line-height: 28px;
  width: 600px;
  text-align: center;
}

main {
  display: flex;
  align-items: start;
  height: 280px;
  justify-content: space-between;
  margin-bottom: 160px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  color: #fff;
}

h1 span {
  color: #00BFA6;
}

.texto p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
}

.texto p span {
  font-weight: bold;
  color: #00BFA6;
}

.line {
  width: 568px;
  height: 0;
  margin: 8px auto 8px;
  border: 1px #00BFA6 solid;
}

#cadeado {
  position:absolute;
  left: 20px;
  padding-bottom: 20px;
}

.textope {
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}

footer {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}